:root {
  --prime-link-color: #2196f3;
  --herobtn-link-color: #188ce8;
  --prime-linktxt-color: #212121;
  --prime-text-color: #757575;
  --link-hover-color: #ffffff;
  --team-bcg-color: #f5f4fa;
  --social-icons-color: #afb1b8;
  --footer-color: #2f303a;
  --border-color: #eeeeee;
  --all-hovfoc-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--prime-linktxt-color);
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo,
.link,
.mail,
.phone,
.map,
.footer a {
  text-decoration: none;
}
